*app-container {
display: flex;
min-height: 100vh;
background: #f4f7fa;
}

.sidebar {
width: 250px;
background: #0f172a;
color: white;
padding: 30px;
}

.sidebar h2 {
margin-bottom: 40px;
}

.sidebar ul {
list-style: none;
}

.sidebar li {
padding: 15px 0;
cursor: pointer;
transition: 0.3s;
}

.sidebar li:hover {
color: #38bdf8;
}

.main-content {
flex: 1;
padding: 30px;
}

.summary-cards {
display: flex;
gap: 20px;
flex-wrap: wrap;
margin: 25px 0;
}

.card {
flex: 1;
min-width: 220px;
background: white;
padding: 25px;
border-radius: 15px;
box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.card p {
font-size: 24px;
color: #2563eb;
margin-top: 10px;
font-weight: bold;
}

.actions,
.upload-section,
.transactions {
background: white;
padding: 25px;
margin-top: 25px;
border-radius: 15px;
box-shadow: 0 5px 15px rgba(0,0,0,0.08);
}

.actions input {
width: 100%;
padding: 12px;
margin: 15px 0;
border-radius: 8px;
border: 1px solid #ddd;
}

.button-group {
display: flex;
gap: 10px;
}

.deposit-btn,
.withdraw-btn {
border: none;
color: white;
padding: 12px;
flex: 1;
border-radius: 8px;
cursor: pointer;
}